.button {
  display: block;
  width: 100%;
  min-height: 32px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: var(--color-blue);
  border-radius: 34px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  opacity: 0.9;
  transition: opacity 0.25s ease;
}

.button:hover,
.button:focus,
.button:active {
  opacity: 1;
}

.button:disabled {
  cursor: default;
  opacity: 0.6;
}
