.container {
  display: flex;
  height: 100%;
}

.main {
  display: grid;
  grid-template-columns: 40% 60%;
  column-gap: 4px;
}

.notesListPart {
  padding: 16px;
  background: var(--gradient-blue);
}

.notePart {
  background: var(--gradient-dark);
}

.notePartHeader {
  padding: 16px;
  background: var(--gradient-blue);
}

.notePartBlock {
  padding: 16px 20px;
}
