.container {
  display: grid;
  grid-template-columns: 20% 35% 45%;
  column-gap: 4px;
  height: 100%;
}

/* aside */
.asideMenu {
  background: var(--gradient-light);
  padding: 16px;
}

.iconLogo {
  margin-bottom: 72px;
}

/* main */
.main {
  padding: 16px;
  background: var(--gradient-blue);
}

/* article */
.article {
  background: var(--gradient-dark);
}

.articleHeader {
  padding: 16px;
  background: var(--gradient-blue);
}

.articleBlock {
  padding: 16px 20px;
}
