@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

:root {
  --color-accent: #dfa549;
  --color-white: #ffffff;
  --color-grey: #212226;
  --color-blue: #215ff6;
  --color-red: #ef4908;
  --gradient-blue: #313866;
  --gradient-light: linear-gradient(155.72deg, #504099 17.71%, #4b4af9 119.51%);
  --gradient-dark: linear-gradient(180deg, #212226 13.8%, #020202 114.67%);
}
